<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Test IMAGE</h1>
    <div>
      <h2>Avatar</h2>
      <%=user%>
    </div>
    <img src="<%=user%>" alt="" />
  </body>
</html>
